@page
@model InternetProvider.Pages.ClientTable.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Client</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Фамилия)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Фамилия)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Имя)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Имя)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Отчество)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Отчество)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Адрес)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Адрес)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.НомерТелефона)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.НомерТелефона)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.ЭлектроннаяПочта)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.ЭлектроннаяПочта)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.ДатаРождения)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.ДатаРождения)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.НомерДоговораNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.НомерДоговораNavigation.НомерДоговора)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Client.НомерКлиента" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
